* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10% 0px 10%;
    background-color: rgb(63, 63, 63);
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
}
nav a {
    color: white;
    height: 30px;
    line-height: 30px;
    width: 80px;
    display: inline-block;
    text-align: center;
}
.banner {
    width: 100%;
    height: 450px;
    background-size: 100%;
    background-image: url(./bane.jpg);
    background-position: 0px 8%;
    background-repeat: no-repeat;
    margin-top: 30px;
}
main {
    padding: 20px;
    width: 100%;
}
#mutiara span {
    display: block;
    text-align: center;
    font-size: 20px;
    color: rgb(43, 39, 39);
}
span {
    color: rgb(0, 113, 128);
}
section {
    width: 100%;
    margin-bottom: 20px;
    background: rgb(243, 243, 243);
    border-radius: 10px;
}
.best-seller {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    background-image: url(./logo-best-seller-desaintasik1-removebg-preview.png);
}
/* .next-prev-btns {
    width: 90%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 50%;
    transform: translate(-50%, 75px);
} */
.photo {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.hitam {
    background-image: url(./HITAM4.jpg);
}
.putih {
    background-image: url(./HITAM2.jpg);
}
.size {
    background-image: url(./SIZE.jpg);
}
.slide {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    overflow-x: scroll;
    overflow-y: hidden;
}
.slide .slide-1 {
    background-image: url(./JAHIT1.jpg);
}
.slide .slide-2 {
    background-image: url(./JAHIT2.jpg);
}
.slide .slide-3 {
    background-image: url(./JAHIT3.jpg);
}
footer {
    width: 100%;
    text-align: center;
    background-color: rgb(63, 63, 63);
    height: 300px;
    color: white;
    padding: 20px;
}
footer p {
    font-size: 13px;
}
.order-btn {
    position: fixed;
    left: 0px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    border: 1px solid white;
    background-color: rgb(63, 63, 63);
}

@media (min-width: 800px)
{
    nav a {
        border-radius: 5px;
        font-size: 14.50px;
        letter-spacing: 0.50px;
    }
    nav a:hover
    {
        background-color: rgb(80, 80, 80);
        font-size: 16px;
        letter-spacing: 1px;
    }
    .burger, .menu
    {
        display: none;
    }
    .order-btn {
        width: 170px;
        height: 40px;
        line-height: 37px;
        border-radius: 5px;
        font-size: 20px;
        cursor: pointer;
        bottom: 20px;
    }
    .order-btn:hover
    {
        background-color: rgb(80, 80, 80);
        font-size: 20.50px;
        letter-spacing: 1px;
    }
}

@media (max-width: 800px)
{
    nav h1 {
        font-size: 17px;
    }
    .top-links {
        display: none;
    }
    .burger {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 25px;
        width: 20px;
    }
    .bgr-1, .bgr-2, .bgr-3 {
        height: 2px;
        width: 100%;
        background: white;
        position: relative;
        transition: 0.20s all ease;
    }
    .bgr-2 {
        margin: 6px 0px 6px 0px;
    }

    .bgr-1-active {
        transform: rotate(50deg);
        bottom: -1px;
    }
    .bgr-2-active {
        display: none;
    }
    .bgr-3-active {
        transform: rotate(-50deg);
        top: -1px;
    }

    .right-menu {
        position: fixed;
        right: 0px;
        top: 0px;
        transition: 0.20s all ease;
        width: 0px;
        visibility: hidden;
        opacity: 1;
        height: 100vh;
        background-color: rgb(63, 63, 63);
        z-index: 5;
        padding: 60px 10px 45px 10px;
    }
    .right-menu a {
        color: white;
        display: block;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
    }
    .right-menu-active {
        width: 50%;
        max-width: 200px;
        visibility: visible;
        opacity: 1;
    }

    #mutiara {
        padding: 0px 20px 0px 20px;
    }

    section {
        padding: 20px 20px 20px 20px;
    }
    .best-seller {
        height: 170px;
        width: 170px;
    }
    section h1 {
        margin-bottom: 10px;
        font-size: 22px;
    }
    .photo {
        height: 200px;
        width: 100%;
        margin-bottom: 10px;
    }
    .slide .photo {
        border: 1px solid grey;
        width: 250px !important;
        min-width: 250px !important;
        margin-right: 10px;
        border-radius: 7px;
    }
    /* .prev-btn,
    .next-btn
    {
        height: 40px;
        width: 40px;
        background: maroon;
    } */

    .order-btn {
        width: 90%;
        height: 40px;
        line-height: 40px;
        bottom: 10px;
        border-radius: 5px;
    }
}